body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.icon {
    cursor: pointer;
    font-size: 20px;
}
/* ---------------- header ------------- */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
.header--container {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 100px;
    height: inherit;
}
.nav{
    display: flex;
    align-items: center;
}

.nav--item {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
    cursor: pointer;
}
.icon--navbar {
    padding: 0 5px;
}
.icon--navbar:hover {
    transition: .3s;
    transform: scale(1.5, 1.5);
}
.container__icongird{
    width: 80px;
    height: 65px;
    background-color: #000;
    border-bottom-left-radius: 40px;
}
.icon__grid{
    float: right;
    padding: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
/* ----------- body ----------- */
section {
    margin-top: 100px;
}
.product__title {
    text-decoration: underline;
    margin-left: 50px;
}
.section--container {
    position: relative;
    display: flex;
    height: 500px;
    justify-content: space-around;
}
.icon__change {
    position: absolute;
    top: 40%;
    color: white;
    background: black;
    padding: 20px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}
.icon__change--left {
    left: 0;
}
.icon__change--right {
    right: 0;
}
/* ------------- footer ------------- */
footer {
    position: relative;
    margin-top: 30px;
    text-align: center;
    z-index: 1000;
}
.icon--social__media {
    padding: 5px;
}
.icon--social__media:hover {
    transform: translateY(-5px);
    transition: .3s;
}
.icon--vol {
    position: absolute;
    right: 40px;
    bottom: 0;
}